<div class="pb-3" *ngIf="RadioListDataItem != null">
    <h5>{{RadioListDataItem.txt_srvy_item}}</h5>
</div>
<ng-container *ngFor="let rItem of dataItemCollection">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" [value]="rItem.id_survey_item_response">
        <label class="form-check-label" for="inlineCheckbox2">{{rItem.txt_rspns}}</label>
    </div>
</ng-container>

<div class="pt-3" *ngIf="dataItemClearSelectionEnabled">
    <button type="button" class="btn btn-light border">Clear Selection</button>
</div>
